
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

a:active,
a:hover {
  outline-width: 0;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

/* Reset - A light version of meyerweb.com
========================= */

header, footer, nav, section, {
  display: block;
}

body {
  line-height: 1;
}

ul, ol {
  list-style: none;
}

/* Page Styles
========================== */

body {
  font: normal 1.1em/1.5 'Verdana', 'Helvetica', sans-serif;
  color: #fff;
  background-color: #edeff0;
  background: url(http://i.imgur.com/b9r5sEL.jpg);
  background-size: cover;
}

.main-wrapper {
  width: 90%;
  margin: auto;
}

footer {
  color: #000;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  clear:both;
}

.main-wrapper h1 {
  background-color: rgba(21,21,21,.7);
  border: 1px solid #000;
  border-radius: 5px;
  padding:50px 50px;
  text-align: center;
}

/* Drum Style 
=========================== */
.drum {
  background-color: rgba(21,21,21,.7);
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 120px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.drum__key li {
  display: inline-block;
  transition: box-shadow .1s;
  border-radius: 25px;
  background-color: rgba(121,31,21,.7);
  text-align: center;
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.on-play {
  transform: scale(1.1, 1.1);
  border-color: #ffc600;
  box-shadow: 0 0 20px #ffc600;
}


/* Social
========================= */

.social-popout {
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.social-popout img {
	border-radius: 50%;
	margin: 8px;
	width: 100%;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.social-popout img:hover {
	margin: 0px;
	box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}

/* Media Queries
========================= */

@media screen 
  and (min-width: 900px) 
  and (max-width: 1600px) 
  { 
    .drum__key li {
      width: 10%;
    }
}

@media screen 
  and (min-width: 500px) 
  and (max-width: 899px) 
  { 
    .drum__key li {
      width: 30%;
    }
}